<!-- The full review of user -->
<div class="full-review-section">

    <!-- The title of the review -->
    <div class="page-title" id="review-title"></div>

    <!-- Add the detailed review card -->
    <section class="review-container">

        <!-- The summary box on the left side -->
        <div class="review-summary">
            <div class="review-img-placeholder">
                <img id="review-image" src="" alt="">
            </div>

            <h3 class="game-title" id="game-title"></h3>

            <div class="full-review-meta">
                <span class="full-review-item">
                    <i class="bi bi-person"></i>
                    <span id="review-author"></span>
                </span>

                <span class="full-review-item">
                    <i class="bi bi-calendar4"></i>
                    <span id="review-date"></span>
                </span>

                <div class="review-stars" id="review-stars"></div>
            </div>

            
        </div>

        <!-- The detailed review words on the right side -->
        <div class="review-text-box" id="review-content"></div>
    </section>
</div>