:root {
    --primary: hsl(199 89% 48%);
    --accent: hsl(193 100% 50%);
    --primary-foreground: hsl(222 47% 11%);
    --foreground: hsl(210 40% 98%);
    --footer-background: hsl(240 8% 12%);
    --muted-foreground: hsl(215 20% 65%);
    --border: hsla(215, 28%, 17%);
    --card-background: hsl(217 33% 17%);
    --trash: hsl(0 84% 60%);
    --check: rgb(34 197 94);
}