<div class="container-fluid cart-background mt-2 pt-4 pb-5">
    <div class="container">
        <h1 class="shopping-title fw-bold">Shopping Cart</h1>

        <!-- <div class="row mt-4">
            <div class="col-md customize-empty-background d-flex flex-column justify-content-center align-items-center gap-3 py-5">
                <p class="my-0 muted fs-5">Your cart is empty</p>
                <a href="/shop" class="text-decoration-none p-2 mt-0 continue-shop-btn rounded-3 px-3">Continue Shopping</a>
            </div>
        </div>  -->

        <div class="row mt-md-5 mt-3">
            <div class="col-md-8 col d-flex flex-column justify-content-center align-items-start gap-4">
                <div class="cart-item d-flex align-items-start justify-content-between p-0 overflow-hidden">
                    <div
                        class="d-flex flex-md-row flex-column justify-content-md-start align-items-md-start justify-content-stretch align-items-stretch cart-details border-0 outline-0 p-4 gap-3">
                        <img src="/img/image_1.jpeg" class="customize-cart-img img-fluid d-block h-25 w-25"
                            alt="Item 1">

                        <div class="card-body">
                            <h5 class="card-title fw-bold">Cyberpunk 2077</h5>
                            <p class="card-text muted">Edition: standard</p>
                            <p class="card-text price fw-bold">$49.99</p>

                            <div
                                class="quantity-container d-flex flex-row align-items-center justify-content-start gap-3">
                                <p class="card-text fw-bold quantity-title mb-0">Quantity: </p>
                                <input type="number" min="1" value="1" id="cart-quantity" name="cart-quantity"
                                    class="border-0 outline-0 px-md-2 py-md-1 px-5 py-2 text-center flex-fill flex-md-grow-0">
                                <a href="/delete-game" class="trash-icon p-2 py-1"><i class="bi bi-trash"></i></a>
                            </div>
                        </div>
                    </div>

                    <span class="price-custom fw-bold fs-4 mt-3 me-3 d-md-inline d-none">$49.99</span>
                </div>

                <div class="cart-item d-flex align-items-start justify-content-between rounded-3 p-0 overflow-hidden">
                    <div
                        class="d-flex flex-md-row flex-column justify-content-md-start align-items-md-start justify-content-stretch align-items-stretch cart-details border-0 outline-0 p-4 gap-3">
                        <img src="/img/image_2.jpeg" class="customize-cart-img img-fluid d-block h-25 w-25"
                            alt="Item 2">

                        <div class="card-body">
                            <h5 class="card-title fw-bold">Fantasy RPG masterpiece</h5>
                            <p class="card-text muted">Edition: standard</p>
                            <p class="card-text price fw-bold">$59.99</p>

                            <div
                                class="quantity-container d-flex flex-row align-items-center justify-content-start gap-3">
                                <p class="card-text fw-bold quantity-title mb-0">Quantity: </p>
                                <input type="number" min="1" value="1" id="cart-quantity" name="cart-quantity"
                                    class="border-0 outline-0 px-md-2 py-md-1 px-5 py-2 text-center flex-fill flex-md-grow-0">
                                <a href="/delete-game" class="trash-icon p-2 py-1"><i class="bi bi-trash"></i></a>
                            </div>
                        </div>
                    </div>

                    <span class="price-custom fw-bold fs-4 mt-3 me-3 d-md-inline d-none">$59.99</span>
                </div>

                <div class="cart-item d-flex align-items-start justify-content-between rounded-3 p-0 overflow-hidden">
                    <div
                        class="d-flex flex-md-row flex-column justify-content-md-start align-items-md-start justify-content-stretch align-items-stretch cart-details border-0 outline-0 p-4 gap-3">
                        <img src="/img/image_1.jpeg" class="customize-cart-img img-fluid d-block h-25 w-25"
                            alt="Item 3">

                        <div class="card-body">
                            <h5 class="card-title fw-bold">God of War</h5>
                            <p class="card-text muted">Edition: standard</p>
                            <p class="card-text price fw-bold">$59.99</p>

                            <div
                                class="quantity-container d-flex flex-row align-items-center justify-content-start gap-3">
                                <p class="card-text fw-bold quantity-title mb-0">Quantity: </p>
                                <input type="number" min="1" value="1" id="cart-quantity" name="cart-quantity"
                                    class="border-0 outline-0 px-md-2 py-md-1 px-5 py-2 text-center flex-fill flex-md-grow-0">
                                <a href="/delete-game" class="trash-icon p-2 py-1"><i class="bi bi-trash"></i></a>
                            </div>
                        </div>
                    </div>

                    <span class="price-custom fw-bold fs-4 mt-3 me-3 d-md-inline d-none">$59.99</span>
                </div>

                <div class="cart-item d-flex align-items-start justify-content-between rounded-3 p-0 overflow-hidden">
                    <div
                        class="d-flex flex-md-row flex-column justify-content-md-start align-items-md-start justify-content-stretch align-items-stretch cart-details border-0 outline-0 p-4 gap-3">
                        <img src="/img/image_3.jpeg" class="customize-cart-img img-fluid d-block h-25 w-25"
                            alt="Item 4">

                        <div class="card-body">
                            <h5 class="card-title fw-bold">The Witcher 3</h5>
                            <p class="card-text muted">Edition: standard</p>
                            <p class="card-text price fw-bold">$39.99</p>

                            <div
                                class="quantity-container d-flex flex-row align-items-center justify-content-start gap-3">
                                <p class="card-text fw-bold quantity-title mb-0">Quantity: </p>
                                <input type="number" min="1" value="1" id="cart-quantity" name="cart-quantity"
                                    class="border-0 outline-0 px-md-2 py-md-1 px-5 py-2 text-center flex-fill flex-md-grow-0">
                                <a href="/delete-game" class="trash-icon p-2 py-1"><i class="bi bi-trash"></i></a>
                            </div>
                        </div>
                    </div>

                    <span class="price-custom fw-bold fs-4 mt-3 me-3 d-md-inline d-none">$39.99</span>
                </div>
            </div>

            <div class="col-md-4 col mt-md-0 mt-5">
                <div class="order-container p-4 pt-3 sticky-top">
                    <span class="order-summary fw-bold my-0 fs-3">Order Summary</span>

                    <div class="d-flex flex-column align-items-center justify-content-center gap-3 mt-4">
                        <div
                            class="subtotal-container d-flex flex-row align-items-center justify-content-between w-100">
                            <span class="subtotal-title">Subtotal</span>
                            <span class="subtotal-price">$209.96</span>
                        </div>

                        <div class="tax-container d-flex flex-row align-items-center justify-content-between w-100">
                            <span class="tax-title">Tax (10%)</span>
                            <span class="tax-price">$21.00</span>
                        </div>

                        <hr class="hr w-100 mt-3 mb-1">

                        <div class="total-container d-flex flex-row align-items-center justify-content-between w-100">
                            <span class="total-title fw-bold">Total</span>
                            <span class="total-price fw-bold">$230.96</span>
                        </div>

                        <a href="/checkout" class="proceed-btn text-decoration-none w-100 text-center p-2 mt-3">Proceed
                            to Checkout</a>
                        <a href="/shop" class="shop-btn text-decoration-none w-100 text-center p-2">Continue
                            Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>