<div class="container-fluid categories-background mt-2 pt-4 pb-5">
    <div class="container">
        <h1 class="categories-title fw-bold">Game Categorties</h1>
        <span class="muted">Browse games by category and find your next adventure</span>

        <div class="row mt-md-5 mt-3 g-3">
            <div class="col-md-3">
                <a class="category-container p-4 d-flex flex-column justify-content-center align-items-stretch gap-2 text-decoration-none" href="/categories/123">
                    <span class="d-flex align-items-center gap-2 category-title fw-bold">
                        <span class="tag-container px-2 py-0"><i class="bi bi-tag tag"></i></span>
                        Action
                    </span>

                    <span class="muted">Action Games</span>
                    <span class="muted mt-4">0 <span>game</span> available</span>
                </a>
            </div>

            <div class="col-md-3">
                <a class="category-container p-4 d-flex flex-column justify-content-center align-items-stretch gap-2 text-decoration-none" href="/categories/123">
                    <span class="d-flex align-items-center gap-2 category-title fw-bold">
                        <span class="tag-container px-2 py-0"><i class="bi bi-tag tag"></i></span>
                        Adventure
                    </span>

                    <span class="muted">Adventure Games</span>
                    <span class="muted mt-4">0 <span>game</span> available</span>
                </a>
            </div>

            <div class="col-md-3">
                <a class="category-container p-4 d-flex flex-column justify-content-center align-items-stretch gap-2 text-decoration-none" href="/categories/123">
                    <span class="d-flex align-items-center gap-2 category-title fw-bold">
                        <span class="tag-container px-2 py-0"><i class="bi bi-tag tag"></i></span>
                        FPS
                    </span>

                    <span class="muted">First-Person Shooter Games</span>
                    <span class="muted mt-4">0 <span>game</span> available</span>
                </a>
            </div>

            <div class="col-md-3">
                <a class="category-container p-4 d-flex flex-column justify-content-center align-items-stretch gap-2 text-decoration-none" href="/categories/123">
                    <span class="d-flex align-items-center gap-2 category-title fw-bold">
                        <span class="tag-container px-2 py-0"><i class="bi bi-tag tag"></i></span>
                        Horror
                    </span>

                    <span class="muted">Horror Games</span>
                    <span class="muted mt-4">0 <span>game</span> available</span>
                </a>
            </div>

            <div class="col-md-3">
                <a class="category-container p-4 d-flex flex-column justify-content-center align-items-stretch gap-2 text-decoration-none" href="/categories/123">
                    <span class="d-flex align-items-center gap-2 category-title fw-bold">
                        <span class="tag-container px-2 py-0"><i class="bi bi-tag tag"></i></span>
                        Puzzle
                    </span>

                    <span class="muted">Puzzle Games</span>
                    <span class="muted mt-4">0 <span>game</span> available</span>
                </a>
            </div>

            <div class="col-md-3">
                <a class="category-container p-4 d-flex flex-column justify-content-center align-items-stretch gap-2 text-decoration-none" href="/categories/123">
                    <span class="d-flex align-items-center gap-2 category-title fw-bold">
                        <span class="tag-container px-2 py-0"><i class="bi bi-tag tag"></i></span>
                        Racing
                    </span>

                    <span class="muted">Racing Games</span>
                    <span class="muted mt-4">0 <span>game</span> available</span>
                </a>
            </div>

            <div class="col-md-3">
                <a class="category-container p-4 d-flex flex-column justify-content-center align-items-stretch gap-2 text-decoration-none" href="/categories/123">
                    <span class="d-flex align-items-center gap-2 category-title fw-bold">
                        <span class="tag-container px-2 py-0"><i class="bi bi-tag tag"></i></span>
                        RPG
                    </span>

                    <span class="muted">Role-Playing Games</span>
                    <span class="muted mt-4">4 <span>games</span> available</span>
                </a>
            </div>

            <div class="col-md-3">
                <a class="category-container p-4 d-flex flex-column justify-content-center align-items-stretch gap-2 text-decoration-none" href="/categories/123">
                    <span class="d-flex align-items-center gap-2 category-title fw-bold">
                        <span class="tag-container px-2 py-0"><i class="bi bi-tag tag"></i></span>
                        Simulation
                    </span>

                    <span class="muted">Simulation Games</span>
                    <span class="muted mt-4">0 <span>game</span> available</span>
                </a>
            </div>

            <div class="col-md-3">
                <a class="category-container p-4 d-flex flex-column justify-content-center align-items-stretch gap-2 text-decoration-none" href="/categories/123">
                    <span class="d-flex align-items-center gap-2 category-title fw-bold">
                        <span class="tag-container px-2 py-0"><i class="bi bi-tag tag"></i></span>
                        Sports
                    </span>

                    <span class="muted">Sports Games</span>
                    <span class="muted mt-4">0 <span>game</span> available</span>
                </a>
            </div>

            <div class="col-md-3">
                <a class="category-container p-4 d-flex flex-column justify-content-center align-items-stretch gap-2 text-decoration-none" href="/categories/123">
                    <span class="d-flex align-items-center gap-2 category-title fw-bold">
                        <span class="tag-container px-2 py-0"><i class="bi bi-tag tag"></i></span>
                        Strategy
                    </span>

                    <span class="muted">Strategy Games</span>
                    <span class="muted mt-4">0 <span>game</span> available</span>
                </a>
            </div>
        </div>
    </div>
</div>