<div class="container-fluid orders-background mt-2 pt-4 pb-5">
    <div class="container">
        <h1 class="orders-title fw-bold">Order History</h1>

        <div class="row mt-3 d-flex flex-column gap-3">
            <div class="col-md">
                <div class="orders-container p-4 d-flex flex-column gap-2 justify-content-center align-items-stretch gap-3">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <span class="d-flex flex-column gap-2">
                            <span class="orders-no fw-bold">Order #653d49f9</span>
                            <span class="orders-status p-1 text-center">Completed</span>
                        </span>

                        <a href="/order-confirmation" class="text-decoration-none orders-view-details py-2 px-3 d-none d-md-inline">View Details</a>
                    </div>

                    <div class="d-flex flex-column align-items-stretch justify-content-center gap-0 mt-2">
                        <div class="d-flex flex-row align-items-center justify-content-between my-1">
                            <span class="muted">Cyberpunk 2077 x 1</span>
                            <span class="orders-price fw-bold">$49.99</span>
                        </div>
                    </div>

                    <div class="d-flex flex-md-row flex-column align-items-md-center justify-content-md-between align-items-start justify-content-center my-md-2 my-3 gap-md-0 gap-4">
                        <div class="d-flex flex-row align-items-center justify-content-center gap-2">
                            <span><i class="bi bi-calendar muted fs-4"></i></span>

                            <span class="d-flex flex-column align-items-stretch justify-content-center gap-0">
                                <span class="muted my-0 orders-date">Order Date</span>
                                <span class="my-0 orders-date-details fw-bold">November 6, 2025 at 06:03 PM</span>
                            </span>
                        </div>

                        <div class="d-flex flex-row align-items-center justify-content-center gap-2">
                            <span><i class="bi bi-currency-dollar muted fs-4"></i></span>

                            <span class="d-flex flex-column align-items-stretch justify-content-center gap-0">
                                <span class="muted my-0 orders-date">Total Amount</span>
                                <span class="my-0 orders-date-details fw-bold">$54.99</span>
                            </span>
                        </div>

                        <div class="d-flex flex-row align-items-center justify-content-center gap-2">
                            <span><i class="bi bi-geo-alt muted fs-4"></i></span>

                            <span class="d-flex flex-column align-items-stretch justify-content-center gap-0">
                                <span class="muted my-0 orders-date">Delivery Address</span>
                                <span class="my-0 orders-date-details fw-bold">123 Main Street, New York, 10001</span>
                            </span>
                        </div>
                    </div>

                    <a href="/order-confirmation" class="text-decoration-none orders-view-details py-2 px-3 d-inline-block d-md-none align-self-start">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>